# See docs/DEPLOYMENT_GUIDE.md for variable descriptions.

POSTGRES_PASSWORD=
PUBLIC_HOST=
LETSENCRYPT_EMAIL=

AUTHENTICATION__CLIENTID=
AUTHENTICATION__CLIENTSECRET=
AUTHENTICATION__METADATAADDRESS=https://idp.ujep.cz/.well-known/openid-configuration
AUTHENTICATION__ISSUER=https://idp.ujep.cz

ADMINISTRATION__ROLEMANAGERPERSONALNUMBERS__0=
